
header {
    background-color: rgb(233, 232, 230);
    color: black;
    padding: 20px;
    text-align: center;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    border-radius: 2px;
}

div {
    background-color: rgb(233, 232, 230);
    color: black;
    padding: 10px;
    text-align: center;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    border-radius: 2px;
}


body, p, h1, h2 {
    background-color: rgb(233, 232, 230);
    color: black;
    font-family: sans-serif;
}

ul, li {
    display: inline-block;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}


.button {
    display: inline-block;
    background-color: rgb(187, 216, 187);
    color: black;
    min-width: 50px;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: mintcream;
    color:black;
    transition: .2s;
}
